<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Persons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
    <style>
        table {
            font-size: 12px;
            border: 1px solid grey;
            padding: 5px;
            position: center;
            overflow-wrap: break-word;
        }

        td {
            max-width: 90px;
            padding: 5px;
            height: 70px;
        }
    </style>
</head>
<body>
<div style="text-align: center;">
    <div style="position: center" class="row">
        <div class="col-sm-3">

        </div>
        <p class="col-sm-3">
            <a href="/">Back to Index</a></p>
    </div>
    <div style="display: inline-block; position: center;" th:if="${not #lists.isEmpty(persons)}">
        <h2>Persons List <br> <a href="/persons/new">New Person</a></h2>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Zip</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Editing</th>
                <th>Deleting</th>
                <th>ID</th>
            </tr>
            <tr th:each="person : ${persons}">
                <td th:text="${person.firstName}"></td>
                <td th:text="${person.lastName}"></td>
                <td th:text="${person.address}"></td>
                <td th:text="${person.city}"></td>
                <td th:text="${person.zip}"></td>
                <td th:text="${person.phone}"></td>
                <td th:text="${person.email}"></td>
                <td><a th:href="${'/persons/edit/' + person.firstName + '/' + person.lastName}">Edit</a></td>
                <td><a th:href="${'/person/del/' + person.firstName + '/' + person.lastName}">Remove</a></td>
                <td><a th:href="${'/persons/info/' + person.firstName + '/' + person.lastName}"
                       th:text="${person.id}"></a></td>
            </tr>
        </table>
    </div>
    <div style="display: inline-block;">
        <h2>MedicalRecords List <br> <a href="/medrec/new">New MedicalRecord</a></h2>
        <table>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>BirthDate</th>
                <th>Medications</th>
                <th>Allergies</th>
                <th>Editing</th>
                <th>Deleting</th>
            </tr>
            <tr th:each="medicalrecord : ${medicalrecords}">
                <td><a th:href="${'/medrec/info/' + medicalrecord.firstName + '/' + medicalrecord.lastName}"
                       th:text="${medicalrecord.id}"></a></td>
                <td th:text="${medicalrecord.firstName}"></td>
                <td th:text="${medicalrecord.lastName}"></td>
                <td th:text="${medicalrecord.birthdate}"></td>
                <td style="max-width: 160px;" th:text="${medicalrecord.medications}"></td>
                <td style="max-width: 120px;" th:text="${medicalrecord.allergies}"></td>
                <td><a th:href="${'/medrec/edit/' + medicalrecord.firstName + '/' + medicalrecord.lastName}">Edit</a>
                </td>
                <td><a th:href="${'/medrec/del/' + medicalrecord.firstName + '/' + medicalrecord.lastName}">Remove</a>
                </td>
            </tr>
        </table>
    </div>
    <div style="display: inline-block;">
        <h2>Firestation List <br> <a href="/station/new">New Firestation</a></h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Address</th>
                <th>Station Number</th>
            </tr>
            <tr th:each="firestation : ${firestations}">

                <td th:text="${firestation.id}"></td>
                <td th:text="${firestation.address}"></td>
                <td th:text="${firestation.station}"></td>
                <td><a th:href="${'/station/edit/' + firestation.address}">Edit</a>
                </td>
                <td><a th:href="${'/station/del/' + firestation.address}">Remove</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>